.view.view-sessions.view-display-id-presentations {
  .view-header {
    h4 {
      text-align: left;
      font-weight: bold;
      color: $color-violet-3;
    }
  }
  .views-field-title {
    margin-bottom: 0;
    font-size: 16px;
  }
  .views-field-field-additional-documets {
    margin-bottom: 20px;
  }
}